<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block>
    <h4>8. RAG(Retrieval-Augmented Generation)</h4>
    <p>The .table-bordered class adds borders on all sides of the table and the cells:</p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>File Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> 1. ETL Pipeline</td>
            <td>dfsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
        </tr>
        <tr>
            <td> 2. RAG Chat</td>
            <td>Moe</td>
        </tr>
        <tr>
            <td>3. RAG Chat: template</td>
            <td>Dooley</td>
        </tr>
        <tr>
            <td>4. Retrieval Augmentation Advisor</td>
            <td>Dooley</td>
        </tr>
        <tr>
            <td> 5. Compression Query Transformer</td>
            <td>Dooley</td>
        </tr>
        <tr>
            <td>6. Rewrite Query Transformer</td>
            <td>Dooley</td>
        </tr>
        <tr>
            <td>7. Translation Query Transformer</td>
            <td>Dooley</td>
        </tr>
        <tr>
            <td>  8. Multi Query Expander</td>
            <td>Dooley</td>
        </tr>
        </tbody>
    </table>

</th:block>

</html>