<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block>
    <h4>4. Multimodality API - Generating with Pictures</h4>
    <p>The .table-bordered class adds borders on all sides of the table and the cells:</p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>File Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> 1. Generate Image for URL</td>
            <td>dfsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
        </tr>
        <tr>
            <td>  2. Generate Image</td>
            <td>Moe</td>
        </tr>
        <tr>
            <td>3. Image Analysis</td>
            <td>Dooley</td>
        </tr>
        <tr>
            <td>4. Video Analysis</td>
            <td>Dooley</td>
        </tr>
        </tbody>
    </table>

</th:block>

</html>