<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block>
    <h4>2. Prompt Template & Structured Output Converter</h4>
    <p>The .table-bordered class adds borders on all sides of the table and the cells:</p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>File Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>  1. Prompt Template</td>
            <td>dfsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
        </tr>
        <tr>
            <td>  2. ListOutputConverter</td>
            <td>Moe</td>
        </tr>
        <tr>
            <td>3. MapOutputConverter</td>
            <td>Dooley</td>
        </tr>
        <tr>
            <td> 4. BeanOutputConverter</td>
            <td>Dooley</td>
        </tr>
        <tr>
            <td>5. ParameterizedType</td>
            <td>Dooley</td>
        </tr>
        </tbody>
    </table>

</th:block>

</html>