<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block>
    <h4>5. Multimodality API - Generating with Voice Multimodality API - Generating with Pictures</h4>
    <p>The .table-bordered class adds borders on all sides of the table and the cells:</p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>File Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> 1. Text to Speech</td>
            <td>dfsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
        </tr>
        <tr>
            <td> 2. Text to Speech: Chat</td>
            <td>Moe</td>
        </tr>
        <tr>
            <td> 3. Text to Speech: Chat Stream</td>
            <td>Dooley</td>
        </tr>
        <tr>
            <td>4. Speech to Text</td>
            <td>Dooley</td>
        </tr>
        <tr>
            <td> 5. Speech to Text: Chat</td>
            <td>Dooley</td>
        </tr>
        <tr>
            <td> 6. Speech to Text: Chat Voice</td>
            <td>Dooley</td>
        </tr>
        </tbody>
    </table>

</th:block>

</html>