<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block>
    <h4>1. Chat Completion</h4>
    <p>The .table-bordered class adds borders on all sides of the table and the cells:</p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>File Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> 1. Chat (Zero-Shot Prompting)</td>
            <td>dfsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
        </tr>
        <tr>
            <td> 2. Chat Stream</td>
            <td>Moe</td>
        </tr>
        <tr>
            <td>3. Chat (Few-Shot Prompting)</td>
            <td>Dooley</td>
        </tr>
        <tr>
            <td>4. Chat (Chain-of-Thought Prompting)</td>
            <td>Dooley</td>
        </tr>
        <tr>
            <td>5. Chat Memory</td>
            <td>Dooley</td>
        </tr>
        </tbody>
    </table>

</th:block>

</html>